**/.git
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
**/dist
**/tmp
**/.angular
**/TestResults
**/coverage
**/.DS_Store
**/data
**/*.user
**/*.suo
docker-compose.yml
docker-compose.override.yml
.dockerignore
.gitignore
.env
.env.*
README.md
LICENSE
docs/
client/node_modules
client/dist
client/.angular
